#header {
  padding-top: 1.5rem;

  .title {
    width: 9.6875rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & h1 {
      font-family: var(--ff-sora);
      font-size: 1.5rem;
      font-weight: 600;
    }

    padding-bottom: 3.875rem;
  }

  & a {
    color: var(--color-brand);
  }
}

@media (width <= 540px) {
  #header {
    .title {
      display: none;
    }

    padding-top: 2.125rem;
  }
}
