* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--background-primary);
  color: var(--content-primary);
  font: var(--paragraph);
}

input,
textarea,
select,
button {
  all: unset; /* remove todos os estilos nativos do navegador */
  box-sizing: border-box; /* necessário pois o unser remove inclusive o box-sizing, então é necessário colocá-lo novamente */
  font: inherit; /* mantém a tipografia do body */
  color: inherit; /* usa cor herdada */
}
